@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Aplicación de soporte a la gestión de los sistemas de innformación academica de asignaturas <br />
    Version: 1.0 <br />
    Autores: Adrián Sancho Sánchez, Victor Trapero Catalan, Pablo Aguilera Onieva, Adrián Garcia Lopez <br />
</p>
