@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    E.T.S.I.S.I<br />
    C/ Alan Turing s/n, Madrid <br />
</address>

<address>
    <strong>Ayuda:</strong>   <a href="mailto:Support@example.com">Victor.trapero@alumnos.upm.es</a><br />
    <strong>Departamento de Marketing:</strong> <a href="mailto:Marketing@example.com">pablo.aguilera@alumnos.upm.es</a>
</address>