@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style = "background-color: #F5F5F5; text-align: center; font-family: constantia; border-radius: 25px; opacity: 0.85; border: 1px solid black;">
    <h1 style="text-shadow: 1.5px 1.5px #E0FFFF;">Práctica EMS Curso 2020/2021</h1>
    <p class="lead">Bienvenido, aqui podrás gestionar tu asignatura de forma rápida y sencilla.</p>
</div>

<div class="row">
    <div style = "background-color: #FBFBFB; border-radius: 50px; text-align: center; opacity: 0.8;" class="col-md-4">
        <h2><a href="https://localhost:44379/Asignaci%C3%B3nDocentes">Gestión de Profesores</a></h2>
        <p>Gestiona la asignación de profesores a grupos.</p>
    </div>
    <div style = "background-color: #F5F3F5; border-radius: 50px; text-align: center; opacity: 0.8;" class="col-md-4">
        <h2><a href = "https://localhost:44379/MisEvaluaciones">Gestión de Alumnos</a></h2>
        <p>Consulta tus calificaciones.</p>
    </div>
    <div style = "background-color: #E4E3E3; border-radius: 50px; text-align: center; opacity: 0.8;" class="col-md-4">
        <h2><a href = "https://localhost:44379/Evaluaciones">Gestión de Evaluaciones</a></h2>
        <p>Califica a tus alumnos.</p>
    </div>
</div>